.header {
  background-color: #7a0000; /* deep maroon */
  color: white;
  text-align: center;
  align-items: center;
  display: inline;
  padding: 1rem 1rem;
  font-size: 20px;
  font-weight: bolder;
  height: 20px;
}

